<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title> </ion-title>
    </ion-toolbar>
    <ion-button slot="start">
        <ion-back-button defaultHref="login" text=""></ion-back-button>

    </ion-button>
</ion-header>

<ion-content>

    <ion-card class="ion-no-margin">
        <ion-img src="assets/imagenes/header1.png"></ion-img>

    </ion-card>

    <ion-card-content>
        <div class="wrapform">
            <ion-item>
                <ion-icon name="mail-outline"></ion-icon>
                <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Correo" required=""></ion-input>
            </ion-item>

            <ion-item>
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-input type="password" name="password"  placeholder="**********" [(ngModel)]="password" required=""></ion-input>
            </ion-item>
        </div>


        <div class="password_forgot">
            <ion-button fill="clear" class="ion-no-padding"> ¿Olvidaste la Contraseña?</ion-button>
        </div>

        <div class="sign-btn-wrap">
            <ion-button shape="round" fill="solid" class="sign-btn"> Entrar </ion-button>
        </div>

        <div class="text-tag">
            <span> ¿Deseas entrar por Redes Sociales? </span>
              </div>
      
              <div class="social-btns">
                <ion-button fill="clear" shape="round" class="facebookbtn ion-no-padding">
                  <ion-img src="assets/imagenes/facebook.png"></ion-img> 
                </ion-button>
      
                <ion-button fill="clear" shape="round" class="googlebtn ion-no-padding">
                  <ion-img src="assets/imagenes/google.png"></ion-img> 
                </ion-button>
      
                <ion-button fill="clear" shape="round" class="applebtn ion-no-padding">
                  <ion-img src="assets/imagenes/apple.png"></ion-img> 
                </ion-button>
                
              </div>
        



    </ion-card-content>






</ion-content>